/* basic */
* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: montserrat,sans-serif;
	font-size: 20px;
	font-weight: 400;
    letter-spacing: .3px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}


/* containers */
.row {
	max-width: 1140px;
	margin: 0 auto;
}

header, section {
	max-width: 1250px;
	padding-top: 40px;
	overflow: hidden;
}

header {
	padding-bottom: 0px;
	position: relative;
	height: 100vh;
	padding-top: 0px;
}

.nav {
	padding-top: 20px;
	margin-bottom: 20px;
}


/* Text */
h1 {
	margin: 0;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	left:0;
	top: 80px;
}

.hero-text-box h1 {
	color: #222137;
	font-family: SFUIDisplay-Thin;
	font-weight: 2000;
	font-size: 200%;
	max-width: 85%;
	line-height: 100%;
}

.hero-text-box span {
	font-weight: 1000;
	color: #5088ea;
}


/* Video */
.header-video-con {
	position: absolute; 
    width: 100%; height: 100%; 
    z-index: -1;
}

.header-video {
	height: 100%;
}

video{
     -webkit-filter: brightness(108.5%); 
}


.logo {
	height: 30px;
	width: auto;
	float: left;
}

.main-nav {
	float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    font-size: 85%;

}

.main-nav li a, h6, h3, p {
    color: #2c2c2c;
    text-decoration: none;
    font-family: SFUIDisplay-Thin;
    font-weight: 700;

}

h3 {
	font-size: 120%;
    font-family: SFUIDisplay-Thin;
    font-weight: 700;

}

p {
	font-size: 100%;
    font-family: SFUIDisplay-Thin;
    font-weight: 200;
}




.box img {
    width: 90%;
    height: auto;
}

.section-recentworks {

	padding-bottom: 0px;
}

.section-recentworks-b {
	padding-top: 0px;
	padding-bottom: 0px;
}

.srow1st {
	padding-top: 40px;
}

.srow2nd {
	padding-top: 70px;
}


video{
     -webkit-filter: brightness(108.5%); 
}