* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: montserrat,sans-serif;
	font-size: 20px;
	font-weight: 400;
    letter-spacing: .3px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}


.row {
	max-width: 1140px;
	margin: 0 auto;
}

header, section {
	background-color: #f5f7fb;
	padding: 120px;
	padding-top: 40px;
}

header {
	padding-bottom: 0px;
}

h1 {
	margin: 0;
}

.hero-text-box h1 {
	font-family: SFUIDisplay-Thin;
}

.Intro-outter-con {
    display: block;
    margin-top: 60px;

}

.Intro-outter-con-1 {
    margin: 0 auto;
    max-width: 1320px;
    display: block;
    width: 100%;
    padding-top: 100px;
}

.Intro-con {
    padding-right: 40px;
}

.Intro-text {
	color: #222137;
	font-family: SFUIDisplay-Thin;
	font-weight: 2000;
	font-size: 70px;
	max-width: 75%;
}

.Intro-text span {
	font-weight: 1000;
	color: #5088ea;
}

.logo {
	height: 30px;
	width: auto;
	float: left;
}

.main-nav {
	float: right;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    font-size: 85%;

}

.main-nav li a, h6 {
    color: #2c2c2c;
    text-decoration: none;
    font-family: SFUIDisplay-Thin;
    font-weight: 700;

}

.header-video {
	max-width: 100%;
	padding: 0px;
}

video{
     -webkit-filter: brightness(108.5%); 
}

